@use "../../styles/variables.scss" as v;

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-2);
}

@media only screen and (min-width: 480px) {
  .hero {
    min-height: 85vh;
  }
}

.short-bio {
  padding: 1rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  .btn {
    padding: var(--space-3);
    background-color: v.$d-green;
    color: v.$l-grey;
    text-decoration: none;
    border-radius: 10px;

    &:hover {
      background-color: v.$hover-green;
      font-weight: bold;
    }
  }
}
