@use "../../styles/variables.scss" as v;

.titles {
  text-align: center;
  h3 {
    font-style: italic;
  }
}

.short-bio {
  padding: 1rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  .btn {
    padding: 1.3rem;
    background-color: v.$d-green;
    color: v.$l-grey;
    text-decoration: none;
    border-radius: 10px;

    &:hover {
      background-color: v.$hover-green;
      font-weight: bold;
    }
  }
}
