header {
  background-color: #334345;

  .nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    color: #d8d8d4;
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;

    @media only screen and (min-width: 768px) {
      padding: 0.7rem 1.5rem;
      gap: 0.5rem;
    }

    @media only screen and (min-width: 1200px) {
      gap: 0.7rem;
    }

    .hamburger {
      background-color: #334345;
      cursor: pointer;
      border: none;

      @media only screen and (min-width: 768px) {
        display: none;
      }

      .bar {
        width: 35px;
        height: 6px;
        background-color: #d8d8d4;
        margin: 9px 0;
        border-radius: 2px;

        transition: 0.4s;
      }

      &:active {
        .bar {
          background-color: #afafac;
        }
      }
    }

    .nav-link-container {
      display: flex;
      position: absolute;
      right: 1rem;

      flex-direction: column;
      align-items: center;
      gap: 1rem;

      color: #d8d8d4;
      background-color: #333;
      padding: 1rem 2rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

      /* hidden by default */
      opacity: 0;
      transform: translateX(10px);
      pointer-events: none;
      transition:
        opacity 0.5s ease,
        transform 0.5s ease;

      &.open {
        display: flex;
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
      }

      @media only screen and (min-width: 768px) {
        display: flex;
        position: static;
        right: 0;

        gap: 1rem;
        flex-direction: row;
        justify-content: space-between;

        box-shadow: none;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #334345;

        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
      }

      .nav-link {
        color: #d8d8d4;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;

        padding: 10px 0;
        border-radius: 10px;

        transition: 0.2s;

        &:hover {
          background-color: #3b5356;
        }

        &:active {
          font-weight: bold;
          text-decoration: underline;
        }

        @media only screen and (min-width: 768px) {
          flex: 1 1 0px;

          font-size: 1.3rem;
          font-weight: 400;
          text-align: center;
          color: #d8d8d4;
        }

        @media only screen and (min-width: 1200px) {
          font-size: 1.5rem;
        }
      }
    }

    .logo-container {
      text-align: center;
      cursor: pointer;
      text-decoration: none;

      .logo {
        max-height: 10rem;
      }
    }
  }
}
