/* Color Palette */
$l-green: #728969; // supporting / soft surfaces
$d-green: #334345; // PRIMARY text & buttons
$hover-green: #3b5356; // interactive hover
$l-grey: #d8d8d4; // PRIMARY background
$d-grey: #eaeaea; // SECONDARY background
$yellow: #cbaa1c; // ACCENT
$orange: #f88a38; // ALT ACCENT
